{{> header}}
{{> navbar }}
    <div class="containeri-fluid">
      <h2>User Profile</h2>
      <img src="profile.png" />
      <h3>Name : {{user.name}}</h3>
      <h3>Email : {{user.email}}</h3>
    </div>
    {{> dtb }}
{{> footer }}